@import url('https://fonts.googleapis.com/css?family=Lato:100i,300,400|Lobster|Playfair+Display:900');
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(51, 51, 51, .5);
}

.lobster-text {
  font-family: 'Lobster', cursive;
}

.lato-text {
  font-family: 'Lato', sans-serif;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
  text-shadow: 1px 1px 2px #333;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(51 51 51 .25);
  color: #F8512F;
}

.item {
  height: 425px;
  background-size: cover;
  background-position: center;
}

#wood-background {
  background-image: url('../img/wood-2.jpg');
}

.carousel-flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-logo {
  height: 120px;
}

#carousel-logo {
  height: 250px;
}

#seating-background {
  background-image: url('../img/restaurant-2.jpg')
}

.carousel-caption {
  margin-bottom: 45px;
}

button.btn-warning {
  background-color: #F8512F;
  border-color: #F8512F;
}

button.btn-warning:hover {
  background-color: #D34326;
  border-color: #D34326;
}

#farm-background {
  background-image: url('../img/farm-2.jpg')
}

#our-story>h1 {
  font-size: 80px;
  color: #F8512F;
  text-shadow: 2px 2px 6px #333;
}

#our-story>h3 {
  margin-top: 0px;
  font-weight: bold;
}

.our-story {
  margin: 10% auto;
}

#os-p>h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  position: absolute;
  z-index: 0;
  color: rgba(51, 51, 51, .15);
  font-size: 12em;
}

#food-review {
  background-image: url('../img/food_review.jpg');
  background-attachment: fixed;
  height: 450px;
}

.large-gap {
  margin-top: 20%;
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
  align-items: center;
  height: 450px;
}

.fresno-bee {
  background-color: rgba(5, 5, 5, .6);
  border-radius: 5px;
}

.fresno-bee>h1 {
  font-size: 65px;
  color: #F8512F;
  text-shadow: 2px 2px 6px #333;
}

.fresno-bee>p {
  font-size: 28px;
  color: #fff;
  text-shadow: 1px 1px 2px #111;
  font-weight: 300;
}
